In [1]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('flatiron_health.sqlite')

In [4]:
sql = f"""
select c.customer_name,
       count(distinct i.invoice_time)                                                             as number_of_invoices,
       cast(ifnull(sum(case when i.status = 1 then i.total_price else 0 end), 0) as UNSIGNED INT) as lifetime_value,
       max(i.invoice_time)                                                                        as most_recent_invoice_time
from customer c
         left join invoice i on c.id = i.customer_id
group by c.id;
"""
df = pd.read_sql_query(sql, conn)
df

,customer_name,number_of_invoices,lifetime_value,most_recent_invoice_time
0,0,4,1899,2008-07-28 04:00:29.239385
1,1,8,3232,2020-09-19 06:07:13.959945
2,2,4,2075,2023-05-18 23:20:31.667951
3,3,2,1320,2015-04-01 11:56:31.351340
4,4,8,3811,2013-05-01 05:57:38.466717
...,...,...,...,...
99995,99995,2,1038,1992-11-01 00:29:42.047642
99996,99996,3,1042,2000-12-09 01:09:56.755222
99997,99997,2,1121,1996-04-27 17:30:16.303030
99998,99998,5,945,2014-08-05 15:26:56.697860
99999,99999,6,1481,2015-01-01 11:03:34.514374