### Customers rolling performance

Please use the dataset 'data.csv' to solve the 2 questions below:

1. This is a transnational data set which contains all the transactions for a UK-based and registered non-store online retail. Your goal is to write a function to calculate the number of unique purchased customers in a rolling 7 days base given a date. For instance, given a date on 2011-03-15, you are able to the provide the number of unique customers from 2011-03-09 to 2011-03-15.

2. Please write a function to find out is there any customer who have purchased everyday within a three-day window.

In [32]:
%%time
import pandas as pd

# read data
data = pd.read_csv('./data.csv', sep='\t')
data.InvoiceDate = pd.to_datetime(data.InvoiceDate)
data

CPU times: user 881 ms, sys: 35 ms, total: 916 ms
Wall time: 935 ms

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [41]:
end_date = pd.to_datetime('2011-03-15')  + pd.offsets.DateOffset(days=1) # 2011-03-15 00:00:00
begin_date = end_date - pd.offsets.DateOffset(days=7)
print(end_date, begin_date)

2011-03-16 00:00:00 2011-03-09 00:00:00

In [55]:
test = data[(data['InvoiceDate'] >= begin_date) & (data['InvoiceDate'] < end_date)]
len(test.CustomerID.unique()) # test.CustomerID.nunique()

259