In [2]:
import pandas as pd

In [4]:
data = pd.read_csv('./data/processed_data_120.csv')
data['target_dates'] = pd.to_datetime(data['target_dates'])
data

,sunspots,dates,year,month,lag_1_sunspots,lag_2_sunspots,lag_3_sunspots,lag_4_sunspots,lag_5_sunspots,lag_6_sunspots,...,avg_3_sunspots,avg_6_sunspots,avg_12_sunspots,avg_24_sunspots,avg_36_sunspots,roll_max_sunspots,roll_min_sunspots,roll_avg_sunspots,target_dates,target_sunspots
0,35.0,1752-01-31,1752,1,44.0,28.5,23.2,23.5,59.8,66.3,...,35.833333,35.666667,44.741667,63.929167,70.019444,158.6,23.2,69.694595,1762-01-31,43.8
1,50.0,1752-02-29,1752,2,35.0,44.0,28.5,23.2,23.5,59.8,...,43.000000,34.033333,45.283333,62.850000,69.669444,158.6,23.2,69.176316,1762-02-28,72.8
2,71.0,1752-03-31,1752,3,50.0,35.0,44.0,28.5,23.2,23.5,...,52.000000,41.950000,47.425000,62.091667,69.697222,158.6,23.2,69.223077,1762-03-31,45.7
3,59.3,1752-04-30,1752,4,71.0,50.0,35.0,44.0,28.5,23.2,...,60.100000,47.966667,47.666667,60.883333,69.797222,158.6,23.2,68.975000,1762-04-30,60.2
4,59.7,1752-05-31,1752,5,59.3,71.0,50.0,35.0,44.0,28.5,...,63.333333,53.166667,47.583333,59.620833,69.094444,158.6,23.2,68.748780,1762-05-31,39.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2659,25.6,1973-08-31,1973,8,23.1,39.5,42.4,57.7,46.0,42.9,...,29.400000,39.050000,44.400000,58.129167,64.233333,253.8,0.0,49.941914,1983-08-31,71.8
2660,59.3,1973-09-30,1973,9,25.6,23.1,39.5,42.4,57.7,46.0,...,36.000000,41.266667,44.008333,58.508333,63.116667,253.8,0.0,49.945384,1983-09-30,50.3
2661,30.7,1973-10-31,1973,10,59.3,25.6,23.1,39.5,42.4,57.7,...,38.533333,36.766667,41.458333,57.633333,61.563889,253.8,0.0,49.938251,1983-10-31,55.8
2662,23.9,1973-11-30,1973,11,30.7,59.3,25.6,23.1,39.5,42.4,...,37.966667,33.683333,39.983333,55.995833,59.583333,253.8,0.0,49.928603,1983-11-30,33.3
2663,23.3,1973-12-31,1973,12,23.9,30.7,59.3,25.6,23.1,39.5,...,25.966667,30.983333,38.150000,53.541667,57.911111,253.8,0.0,49.918741,1983-12-31,33.4

In [3]:
def data_split_generator(data):
    train_start_date = pd.to_datetime('1749-01-31')
    train_end_date = pd.to_datetime('1963-12-31')
    vali_end_date = pd.to_datetime('1973-12-31')
    # test_end_date = pd.to_datetime('1983-12-31')
    for i in range(5):
        # print(train_start_date, train_end_date, vali_end_date, test_end_date)
        train_data = data[(data.target_dates >= train_start_date) & (data.target_dates <= train_end_date)]
        vali_data = data[(data.target_dates > train_end_date) & (data.target_dates <= vali_end_date)]
        test_data = data[(data.target_dates > vali_end_date) & (data.target_dates <= test_end_date)]
        yield train_data, vali_data, test_data
        # print(train_data.shape, vali_data.shape, test_data.shape)
        train_end_date = train_end_date + pd.DateOffset(years = -10) + pd.offsets.MonthEnd(0)
        vali_end_date = vali_end_date + pd.DateOffset(years = -10) + pd.offsets.MonthEnd(0)
        # test_end_date = test_end_date + pd.DateOffset(years = -10) + pd.offsets.MonthEnd(0)
data_split = data_split_generator(data)
data_split

NameError: name 'data' is not defined

In [8]:
for j in range(120, 133):
    data = pd.read_csv(f'./data/processed_data_{j}.csv')
    data['target_dates'] = pd.to_datetime(data['target_dates'])
    data_split = data_split_generator(data)
    for i in range(5):
        train_data, vali_data, test_data = next(data_split)
        # model
        #
train_data

,sunspots,dates,year,month,lag_1_sunspots,lag_2_sunspots,lag_3_sunspots,lag_4_sunspots,lag_5_sunspots,lag_6_sunspots,...,avg_3_sunspots,avg_6_sunspots,avg_12_sunspots,avg_24_sunspots,avg_36_sunspots,roll_max_sunspots,roll_min_sunspots,roll_avg_sunspots,target_dates,target_sunspots
0,35.0,1752-01-31,1752,1,44.0,28.5,23.2,23.5,59.8,66.3,...,35.833333,35.666667,44.741667,63.929167,70.019444,158.6,23.2,69.694595,1763-01-31,56.5
1,50.0,1752-02-29,1752,2,35.0,44.0,28.5,23.2,23.5,59.8,...,43.000000,34.033333,45.283333,62.850000,69.669444,158.6,23.2,69.176316,1763-02-28,31.9
2,71.0,1752-03-31,1752,3,50.0,35.0,44.0,28.5,23.2,23.5,...,52.000000,41.950000,47.425000,62.091667,69.697222,158.6,23.2,69.223077,1763-03-31,34.2
3,59.3,1752-04-30,1752,4,71.0,50.0,35.0,44.0,28.5,23.2,...,60.100000,47.966667,47.666667,60.883333,69.797222,158.6,23.2,68.975000,1763-04-30,32.9
4,59.7,1752-05-31,1752,5,59.3,71.0,50.0,35.0,44.0,28.5,...,63.333333,53.166667,47.583333,59.620833,69.094444,158.6,23.2,68.748780,1763-05-31,32.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1927,0.3,1912-08-31,1912,8,3.0,4.1,4.4,4.5,4.9,0.0,...,2.466667,3.533333,2.875000,6.879167,14.447222,238.9,0.0,45.292617,1923-08-31,0.5
1928,9.5,1912-09-30,1912,9,0.3,3.0,4.1,4.4,4.5,4.9,...,4.266667,4.300000,3.333333,6.183333,13.633333,238.9,0.0,45.274402,1923-09-30,13.2
1929,4.6,1912-10-31,1912,10,9.5,0.3,3.0,4.1,4.4,4.5,...,4.800000,4.316667,3.500000,4.779167,12.138889,238.9,0.0,45.253713,1923-10-31,11.6
1930,1.1,1912-11-30,1912,11,4.6,9.5,0.3,3.0,4.1,4.4,...,5.066667,3.766667,3.241667,4.620833,10.619444,238.9,0.0,45.231266,1923-11-30,10.0
1931,6.4,1912-12-31,1912,12,1.1,4.6,9.5,0.3,3.0,4.1,...,4.033333,4.150000,3.591667,4.645833,9.291667,238.9,0.0,45.211535,1923-12-31,2.8

In [5]:
train_data = data[(data.target_dates >= '1749-01-31') & (data.target_dates <= '1963-12-31')]
vali_data = data[(data.target_dates >= '1964-01-31') & (data.target_dates <= '1973-12-31')]
test_data = data[(data.target_dates >= '1974-01-31') & (data.target_dates <= '1983-12-31')]
train_data.shape, vali_data.shape, test_data.shape

((2424, 23), (120, 23), (120, 23))

In [6]:
train_data = data[(data.target_dates >= '1749-01-31') & (data.target_dates <= '1953-12-31')]
vali_data = data[(data.target_dates >= '1954-01-31') & (data.target_dates <= '1963-12-31')]
test_data = data[(data.target_dates >= '1964-01-31') & (data.target_dates <= '1973-12-31')]
train_data.shape, vali_data.shape, test_data.shape

((2304, 23), (120, 23), (120, 23))

In [7]:
train_data = data[(data.target_dates >= '1749-01-31') & (data.target_dates <= '1943-12-31')]
vali_data = data[(data.target_dates >= '1944-01-31') & (data.target_dates <= '1953-12-31')]
test_data = data[(data.target_dates >= '1954-01-31') & (data.target_dates <= '1963-12-31')]
train_data.shape, vali_data.shape, test_data.shape

((2184, 23), (120, 23), (120, 23))